<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/x-icon" href="images/caf.png">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <nav>
    <a href="/">Home</a> |
    <a href="/bracket">Bracket</a> |
    <a href="/rankings">Rankings</a> |
    <a href="/teams">Teams</a> |
    <a href="/login">Login</a> |
    <a href="/signup">Sign Up</a>
  </nav>
  <main class="container">
    <% if (rankings.length === 0) { %>
      <p class="message">No goals scored yet</p>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Goals</th>
          </tr>
        </thead>
        <tbody>
          <% rankings.forEach(player => { %>
            <tr>
              <td><%= player.name %></td>
              <td><%= player.team %></td>
              <td><%= player.goals %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </main>
</body>
</html>